<footer class="footer">
    <div class="footer-container">
      <div class="footer-left">
        <div class="footer-logo-box">
          <img src="images/mi-escuela-logo.png" alt="Mi Escuela Primero">
        </div>
  
        <div class="footer-redes">
          <a href="https://www.instagram.com/mexicanosprimero/" aria-label="Instagram"><img src="images/insta.png" alt="Instagram"></a>
          <a href="https://www.facebook.com/MexPrim" aria-label="Facebook"><img src="images/facebook.png" alt="Facebook"></a>
          <a href="https://www.youtube.com/channel/UCSENuGtzVwZp-hE3kCZjr8g/featured" aria-label="YouTube"><img src="images/youtube.png" alt="YouTube"></a>
          <a href="https://x.com/mexicanos1o" aria-label="Twitter"><img src="images/twitter.png" alt="Twitter"></a>
          <a href="https://www.linkedin.com/company/mexicanosprimero/posts/?feedView=all" aria-label="LinkedIn"><img src="images/linkedin.png" alt="LinkedIn"></a>
        </div>
      </div>
  
      <div class="footer-right">
        <p><strong>© 2026 Mexicanos Primero Jalisco, A.C.</strong> Todos los derechos reservados.</p>
        <p>Prado de los Cedros #1530, Ciudad del Sol, Zapopan, Jalisco, México</p>
        <p>Tel: 332-106-8253 · <a href="mailto:contacto@mpj.org.mx">contacto@mpj.org.mx</a></p>
        <p><a href="https://www.mexicanosprimero.org/pdf/privacidad/AVISO-DE-PRIVACIDAD.pdf">Aviso de privacidad</a></p>
        <p><a href="faq.html">Preguntas frecuentes</a></p>
      </div>
    </div>
  </footer>